<html>
    <head>
        <title>Polls</title>
        <link href="/css/tabulator/6.3/tabulator.min.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/luxon/build/global/luxon.min.js"></script>
				
<script type="text/javascript" src="/js/tabulator/6.3/tabulator.min.js"></script>
<script type="text/javascript">
    

    import {Tabulator, FormatModule, EditModule} from 'tabulator-tables';
    Tabulator.registerModule([FormatModule, EditModule]);
    //define some CSV data
    var csvData = `"Name", "Location", "Age"
    "Oli", "London", "23"
    "Jim", "Mancheser", "53"`;

    //define table
    var table = new Tabulator("#example-table", {
        data:csvData,
        importFormat:"csv",
        autoColumns:true,
    });;

</script>


<h1>{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>
</body>
</html>
